body{
    background-color: white;
}
.board{
    display:flex;flex-direction: column;width: fit-content;height: fit-content;border-top:1px black solid;border-left:1px black solid;
    position: fixed; z-index: 1; opacity: 0;
}
.shadow_board{
    display:flex;flex-direction: column;width: fit-content;height: fit-content;border-top:1px black solid;border-left:1px black solid;
    position: fixed; z-index: 0; background-color: transparent;
}
.row{
    display: flex;flex-direction: row;width: 512px;height:64px;box-sizing: border-box;
}
.shadow_row{
    display: flex;flex-direction: row;width: 512px;height:64px;box-sizing: border-box;opacity: 1;
}
.box{
    display: flex;align-items: center;justify-content: center;width: 64px;height: 64px;box-sizing: border-box;
    font-size: 10px;cursor: pointer; border-right: 1px black solid; border-bottom: 1px black solid;
}
.shadow_box{
    display: flex;align-items: center;justify-content: center;width: 64px;height: 64px;box-sizing: border-box;
    font-size: 10px;cursor: pointer; border-right: 1px black solid; border-bottom: 1px black solid;
}
.chess_piece_icon{
    width: 80%; height: 80%;
}
.shadow_chess_piece_icon{
    width: 80%; height: 80%;
}
#victory_message{
    display: none; position: fixed; width: 512px; height: 512px; z-index: 2; align-items: center; justify-content: center;
    font-size: larger; background-color: rgba(0, 0, 0, 0.500); color: white;flex-direction: column;
    background-image: url("assets/fireworks.gif");
}
#the_message{
    background-color: white; color: blue; font-weight: bolder;display: flex;align-items: center;justify-content: center;
    flex-direction: column;padding: 50px;text-align: center;
}
button{
    margin-top: 30px;cursor: pointer;
}
#turn_indicator{
    position: fixed; top: 550px; left: 202px; border: 1px black solid; padding: 3px; color: darkgreen; width: 120px; text-align: center;
    font-size: larger;
}

@media only screen and (orientation:portrait) {
    .row{
        width:96vw; height: 12vw;
    }
    .shadow_row{
        width: 96vw; height: 12vw;
    }
    .box{
        width: 12vw; height: 12vw;
    }
    .shadow_box{
        width: 12vw; height: 12vw;
    }
    #victory_message{
        width: 96vw; height: 96vw;
    }
    #the_message{
        padding: 9vw;
    }
    button{
        margin-top: 5vw;
    }
    #turn_indicator{
        top: 110vw; left: 30vw; width: 40vw;
    }
  }