body{
    background-color: white;
}
.board{
    display:flex;flex-direction: column;width: fit-content;height: fit-content;border:1px black solid;padding: 5px;
}
.row{
    display: flex;flex-direction: row;width: 512px;height:64px;box-sizing: border-box;
}
.box{
    display: flex;align-items: center;justify-content: center;width: 64px;height: 64px;box-sizing: border-box;
    font-size: 10px;cursor: pointer;
}